@model IEnumerable<ContactHarbor.Models.Category>

@{
    ViewData["Title"] = "My Categories";
}

<div class="container">
    <div class="row">
        <h1 class="mb-4">My Categories</h1>
    </div>
    <div class="d-flex justify-content-end">
        <a asp-action="Create" class="btn btn-app-primary">Create New</a>
    </div>
    <div class="row">
        <!-- Category List Section -->
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <h3>@Html.DisplayNameFor(model => model.Name)</h3>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <h5>@Html.DisplayFor(modelItem => item.Name)</h5>
                            </td>
                            <td>
                                <a asp-action="Email" asp-route-id="@item.Id" title="Email Category"><i class="bi bi-envelope contact-action-icon"></i></a>
                                <a asp-action="Edit" asp-route-id="@item.Id" title="Edit Category"><i class="bi bi-pencil contact-action-icon"></i></a>
                                <a asp-action="Delete" asp-route-id="@item.Id" title="Delete Category"><i class="bi bi-trash contact-action-icon-delete"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

