@model ContactHarbor.Models.Contact

@{
    ViewData["Title"] = "Delete";
}


<div class="container">
    <div class="row">
        <h1 class="text-center w-100">Delete Contact</h1>
    </div>
    <div class="row">
        <h3 class="text-center w-100">Are you sure you want to delete this?</h3>
    </div>
    <div class="card mb-3 shadow">
        <div class="row g-0">
            <div class="col-12 col-sm-6 col-lg-4">
                @if (Model.ImageData is not null)
                {
                    <img id='imageFileData' class="img-fluid img-thumbnail card-img" src="data:image/*;base64,@(Convert.ToBase64String(Model.ImageData))">
                }
            </div>
            <div class="col-12 col-sm-6 col-lg-8">
                <div class="card-body">
                    <h3 class="card-title">@Model.FullName</h3>
                    <p class="card-text"><strong>Birthday:</strong> @Html.DisplayFor(modelItem => Model.DateOfBirth) </p>

                    @if (!string.IsNullOrWhiteSpace(Model.Address1) || !string.IsNullOrWhiteSpace(Model.Address2) ||
                    !string.IsNullOrWhiteSpace(Model.City) || !string.IsNullOrWhiteSpace(Model.State) || !string.IsNullOrWhiteSpace(Model.ZipCode))
                    {
                        <p class="card-text">
                            <strong>Address:</strong><br />

                            @if (!string.IsNullOrWhiteSpace(Model.Address1))
                            {
                                @Html.DisplayFor(modelItem => Model.Address1) <br />
                            }
                            @if (!string.IsNullOrWhiteSpace(Model.Address2))
                            {
                                @Html.DisplayFor(modelItem => Model.Address2) <br />
                            }
                            @if (!string.IsNullOrWhiteSpace(Model.City) && !string.IsNullOrWhiteSpace(Model.State))
                            {
                                @Html.DisplayFor(modelItem => Model.City)
                                <text>, </text>
                                @Html.DisplayFor(modelItem => Model.State)
                            }
                            else
                            {
                                @if (!string.IsNullOrWhiteSpace(Model.City))
                                {
                                    @Html.DisplayFor(modelItem => Model.City)
                                }
                                @if (!string.IsNullOrWhiteSpace(Model.State))
                                {
                                    @Html.DisplayFor(modelItem => Model.State)
                                }
                            }

                            @if (!string.IsNullOrWhiteSpace(Model.ZipCode))
                            {
                                @Html.DisplayFor(modelItem => Model.ZipCode)
                            }
                        </p>
                    }

                    <p class="card-text">
                        <strong>Email:</strong> @Html.DisplayFor(modelItem => Model.Email)<br />
                        @if (!string.IsNullOrWhiteSpace(Model.PhoneNumber))
                        {
                            <strong>Phone Number:</strong> @Html.DisplayFor(modelItem => Model.PhoneNumber)
                        }
                    </p>
                    <p class="card-text">
                        @foreach (var category in Model.Categories)
                        {
                            <span class="badge bg-app-primary mr-2">@category.Name</span>
                        }
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <form asp-action="Delete" class="d-flex justify-content-between w-100">
            <input type="hidden" asp-for="Id" />
            <a asp-action="Index" class="btn btn-app-primary">Back to List</a>
            <input type="submit" value="Delete" class="btn btn-danger ml-auto" />
        </form>
    </div>
</div>